# Set default behaviour, in case users don't have core.autocrlf set.
* text eol=lf

# Explicitly declare text files we want to always be normalized and converted 
# to native line endings on checkout.
*.c text
*.cpp text
*.h text
*.ino text
*.xml text
*.lua text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gif binary
*.ttf binary
*.eot binary
*.svg binary
*.woff binary
*.epg binary
*.jar binary
